

body {
    
background:url('../imagenes/AA.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

 h1{
                 text-align: center;
                 font-size: 40pt;
                 padding: 5px;
                 color: white;
                font-family: Colonna MT ;
                /*box-shadow: black 3px 3px 2px;*/
                
                text-shadow: 5px 5px 5px #813714,5px 5px 5px #b95511, 3px 3px 3px #d37224 ;
                
                }
                b{
                    font-size: 30pt;
                    color: indianred;
                }
                .it{
                 text-decoration: none;
                 color: peru;
                 font-size: 15pt;
                 margin: 5px;
                 font-weight: bold;
                 background: rgba(255,255,255,0.8);
                 padding:10px;
                 border-radius: 20px;
                 font-family: Colonna MT;
                
             }
             .it:hover{
                 background: rgba(166, 128, 105 , 0.7);
             }
             #tab{
                 
                 
             blackground: white;
             width:Auto;
              height:Auto;
             border-radius: 6px;
             box-shadow: 0 10px 30px #000;
             margin: 200px auto;
             border:1px solid #ffffff40;    

             }
             .Filtro{
    -webkit-background-filter:blur(15px);
    background-filter:blur(15px);
    background-color:rgba(243, 243, 243, 0.7); 
}