  h1{
                background: rgba( 51, 108, 165  ,0.8);
                 text-align: center;
                 font-size: 40pt;
                 padding: 5px;
                 color: white;
                font-family: Colonna MT ;
                /*box-shadow: black 3px 3px 2px;*/
                
                text-shadow: 5px 5px 5px #3498DB ,5px 5px 5px #5DADE2 , 3px 3px 3px #A3E4D7 ;
                
                }
                body{
    
background:url('../imagenes/pre.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}
 p{
    width: 500px;
    background: rgba(99, 99, 250 , 0.6);
    border-radius: 2%;
    color: white;
    padding: 10px;
    box-shadow: white 5px 5px 2px;
    font-size: large;
    
    
}
.it{
                 text-decoration: none;
                 color: blue;
                 font-size: 15pt;
                 margin: 5px;
                 font-weight: bold;
                 background: rgba(255,255,255,0.8);
                 padding:10px;
                 border-radius: 20px;
                 font-family: Colonna MT;
               float: right;
             }
             .it:hover{
                 background: rgba(230, 240, 253,0.7);
             }

              .itemmenu{
                 text-decoration: none;
                 color: darkcyan;
                 font-size: 20pt;
                 margin: 5px;
                 font-weight: bold;
                 background: rgba(255,255,255,0.8);
                 padding:10px;
                 border-radius: 20px;
                 font-family: Colonna MT;
                
             }
             .itemmenu:hover{
                 background: rgba(178, 226, 242, 0.7);
             }
